<div class="animate__animated animate__fadeInDown animate__faster">
    <h2>Por Capital</h2><hr>
    <div class="row">
        <div class="col">
            <app-input
                placeholder="Buscar capital..."
                (onDebounce)="buscar($event)"
                [initialValue]="initialValue"
            ></app-input>
        </div>
    </div>
    <hr>
</div>
<div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <app-tabla [countries]="countries"></app-tabla>
</div>
